.is-oros {
    background-color: #09bcaa !important;
    color: white !important;
}
.is-green {
    background-color: #00CC00 !important;
    color: white !important;
}

.is-white {
    background-color: white !important;
    color: white !important;
}
.is-wblue {
    background-color: #00CCFF !important;
    color: white !important;
}

.is-oros.button {
    border-color: white !important;
}


.is-oros.button:hover {
    background-color: white !important;
    color: #09bcaa !important;
    border-color: #09bcaa !important;
}
.is-green.button:hover {
    background-color: white !important;
    color: #00CC00 !important;
    border-color: #00CC00 !important;
}
.is-wblue.button:hover {
    background-color: white !important;
    color: #00CCFF !important;
    border-color: #00CCFF !important;
}
.is-yentafo {
    background-color: #c92d39 !important;
    color: white !important;
}


.is-yentafo.button {
    border-color: white !important;
}

.is-yentafo.button:hover {
    background-color: white !important;
    color: #c92d39 !important;
    border-color: #c92d39 !important;
}
.is-liblue{
    background-color: #0066FF !important;
    color: white !important;
}

.is-orange {
    background-color: #ef8d22 !important;
    color: white !important;
}

.is-orange.button {
    border-color: white !important;
}
.is-liborange {
    background-color: #FF9900 !important;
    color: white !important;
}

.is-liborange.button {
    border-color: white !important;
}

.is-orange.button:hover {
    background-color: white !important;
    color: #ef8d22 !important;
    border-color: #ef8d22 !important;
}

.is-black-oros {
    background-color: #05897c !important;
    color: white !important;
}
.f-red{
    color: red;
}

