
/*===============[subcontent div]===================*/

.subcontent-main-div {
    margin: 0 auto;
}


/*===============[column]===================*/

.columns {
    display: flex;
    align-items: center;
}

.column {
    width: 100%;
}

.column.is-1 {
    flex: none;
    width: 12.5%;
}

.column.is-2 {
    flex: none;
    width: 25%;
}

.column.is-3 {
    flex: none;
    width: 37.5%;
}

.column.is-4 {
    flex: none;
    width: 50%;
}

.column.is-5 {
    flex: none;
    width: 62.5%;
}

.column.is-6 {
    flex: none;
    width: 75%;
}

.column.is-7 {
    flex: none;
    width: 87.5%;
}

.column.is-8 {
    flex: none;
    width: 100%;
}

/*===============[text helper]===================*/

.text-center {
    text-align: center;
}
.is-pulled-right {
    float: right;
}
